<!DOCTYPE html>

<html>
<head>
	<title>Veterans Site</title>
</head>
<body>
<div class="container" id="grad">
<div class="image2"> <%=image_tag("SmallLogo.jpg", alt: "test")%> </div> 
<div id="title">
<h3>SUPPORT HOMELESS VETERANS, INC.</h3>
<p>Advancing Veteran Housing</p>
</div>
<div id="right">
<h3>CONNECT WITH SHV</h3>
<div class="image3"><a href="/facebook"><%=image_tag("facebook.png", alt: "test")%></a></div>
<div class="image3"><a href="/flickr"><%=image_tag("flickr.png", alt: "test")%></a></div>
<div class="image3"><a href="/youtube"><%=image_tag("youtube.png", alt: "test")%></a></div>
</div>
<br><br><br>
<nav class="nav">
    <ul>
        <li>
            <a href="#">HOME</a>
        </li>
        <li>
            <a href="#">WHO ARE WE</a>
            <ul>
                <li><a href="#">ABOUT SHV</a></li>
                <li><a href="#">LEADERSHIP</a></li>
                <li><a href="#">STATISTICS</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">NEWS</a></li>
            </ul>
        </li>
        <li>
            <a href="#">WHAT WE DO</a>
            <ul>
                <li><a href="#">VETERAN HOUSING</a></li>
                <li><a href="#">CODE:RED WHITE AND BLUE</a></li>
                <li><a href="#">COMMUNITY PROGRAMS</a></li>
                 <li><a href="#">VETERAN LIFELINES</a></li>
                <li><a href="#">PHILADELPHIA VET FEST</a></li>
            </ul>
        </li>
        <li>
            <a href="#">HOW TO HELP</a>
            <ul>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">DONATE</a></li>
                <li><a href="#">VOLUNTEER</a></li>
                <li><a href="#">SPONSORS & PARTNERS</a></li>
            </ul>
        </li>
        <li>
            <a href="#">RESOURCES</a>
            <ul>
                <li><a href="#">DIRECTORY</a></li>
            </ul>
        </li>
        <li>
            <a href="#">EVENTS</a>
            <ul>
                <li><a href="#">CALENDAR</a></li>
            </ul>
        </li>
    </ul>
</nav>
	<ul class="bxslider">
  		<li class="item"><%=image_tag("test4.jpg", title:"Caption 1")%></li>
  		<li class="item"><%=image_tag("test6.jpg", title:"Caption 2")%></li>
	</ul>

<div class="container vertical-divider">
  <div class="column two-third">
    <h2>Our Mission Statement</h2>
<br>
<p>Eliminate homeless among all American veterans.<br>
<u><b>Vision Statement:</b></u><br>
We envision that every veteran will have a safe place to call home.<br><br>
<u><b>Valve Statement:</b></u><br>
Faith in Jesus Christ;<br>
Commitment to the public good;<br>
Respect for the worth and dignity of all individuals;<br>
Transparency, integrity, and honesty;<br>
Commitment to excellence and maintaining the public trust.</p>
<a href="/goldstar"><%=image_tag("goldstar.png", alt: "test")%></a>
  </div>
  <div class="column two-third">
    <h2>Donate</h2>
<p><h3>This organization is fully funded by<br>
donations</h3></p>
<p>Help us continue to Support Homeless Veterans by<br>
donating to Support Homeless Veterans, Inc. via check,<br>
cash, or through PayPal. We are a 501(c)(3) non-profit<br>
organization and depend on your support to operate.</p>
<p><a href="/blog" type="button" class="btn btn-primary">Donate Now</a></p>
<p>You can also donate through the United Way Donor Choice<br>
Program or Combined Federal Campaign, and designate all<br>
or a portion of your donation to SHV. Please send your<br>
donation to <font color="red">United Way #50813"</font> or <font color="red">CFC (Combined Federal Campaign)<br>
# 15426"</font> to make sure your gift will be sent to our office.</p>

 </div>
 </div>
<hr class="style1">
<div class="container vertical-divider">
  <div class="column two-third">
    <h2>FACEBOOK FEED</h2>


  </div>
  <div class="column two-third">
    <h2>FEATURED AUDIO</h2>
    <p><h4>American Heroes</h4>
    <h4>Network |</h4>
    <h4>VoiceAmerica™</h4></p>
    <font color="blue"><u><a href="/heroes">Gary Ray speaks with Cara Colantuono</a></u></font><br>
    <a href="/heroes"><%=image_tag("heroes.png", alt: "test")%></a>

 </div>
 <div class="column two-third">
    <h2>FEATURED VIDEO</h2>

  </div>
 </div>
<script type="text/javascript">

$(document).ready(function(){
  $('.bxslider').bxSlider({
	mode: 'fade',
	captions: true,
	slideWidth: 950,
	controls: false,
	slideLength: 320,
	pause: 3000,
	auto:true,
	useCSS:false,
	startSlide: 0,
	timeout: 0,
  		});
});
</script>

</body>
</html>

